@import 'frappe.css';
* {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  background: #1e1e2e;
  color: #cdd6f4;
  min-height: 0;
}

window#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
}

#clock {
  color: @yellow;
}

#battery {
  color: @pink;
}

#network {
  color: @blue;
}

#network.disconnected {
  color: @peach;
}

#battery.critical {
  color: @red;
}

#clock,
#network,
#battery,
#pulseaudio,
#custom-vpn,
#custom-exit {
  padding: 0 2px;
}
#battery {
  padding-right: 10px;
}
#pulseaudio {
}

#custom-exit {
  color: @red;
  padding-right: 15px;
}

#network {
  padding-right: 10px;
}
#custom-vpn {
  color: #ffffff;
  padding-right: 6px;
}

/* Style when VPN is connected */
#custom-vpn.connected {
  color: @peach;
}

/* Style when VPN is disconnected */
#custom-vpn.disconnected {
  color: @subtext1;
}
